*{
   padding:0;
   margin:0; 
}

.display-flex {   
   display: flex ;
}

@font-face {
   font-family: pokemonSolid;
   src: url(../src/environments/Fonts/PokemonSolid.ttf);
}

@font-face {
   font-family: pokemon;
   src: url(../src/environments/Fonts/Pokemon.ttf);
}

.content{
   padding: 50px;
   height:auto;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
   place-items: center;
   gap: 15px;
}
